#toolbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title {
    font-size: 36px;
    margin: 2px;
}

#sim-controls {
    --item-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    padding: 0 1em;
    background: var(--bg);
}

.toolbar__item {
    height: auto;
    line-height: 0;
    margin: 4px 2px;
    border-radius: 8px;
}

.toolbar__item span {
    padding: 0;
}

.toolbar__item:hover {
    background-color: var(--hover-bg);
}

.toolbar__button {
    background: none;
    border: none;
    border-radius: var(--item-radius);
    padding: 0;
    line-height: 0;
}

.button_icon {
    font-size: 36px;
    font-variation-settings: 'wght' 200, 'opsz' 24;
    transform: scale(1.4);
}

#simulate